.data-widget-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #6a89d7;
  }
.faq-tabs .nav-link {
  text-align: center;
  padding: 1.8rem 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  }

  .faq-tabs .nav-link.active {
    color: #fe4d2e;
    border-color: #fe4d2e;
    background-color: #fff;
  }
  .faq-tabs .nav-link.active i {
    color: #fe4d2e !important;
  }
  .faq-list>li {
    padding: .75rem 0;
  }
  .faq-list>li>a {
    display: block;
    position: relative;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
  }
  .faq-list>li>a:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'themify';
    content: "\e61a";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  .faq-list>li>a[aria-expanded=true] {
    color: #2949ef;
  }
  .faq-list>li>a[aria-expanded=true]:after {
    content: "\e622";
  }
  .faq-answer {
    padding: 1rem 0;
    margin-top: 1rem;
    color: #6c757d;
  }
  .faq-tabs .nav-link.active {
    color:black;
    border-color: #7c1ab5;
    background-color: #fff;
  }
  .faq-tabs .nav-link.active i {
    color: #fff !important;
  }
  .card-header {
    min-height: 5.2rem !important;
  }
  .demo-btn-list *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical)>.btn, .demo-btn-list > .btn {
    margin-bottom: 15px;
    margin-right: 5px;
    }
    .dropdown-demo .dropdown {
    display: inline-block
    }
    .btn-fix {
    min-width: 120px;
    text-align: center;
    }
    .card-dark{
        border: 1px solid #7c1ab5;
    }
    