.abt-listing{
    border:1px solid #CCC;
    margin-bottom:10px;
    background:#fff;
    border-radius:5px;
}
.btn-two{
    border:1px solid #ff3a54;
    background-color: #f2f2f2;
}
.btn-three{
    border:1px solid #ff3a54;
    background-color: #fff;
    color:#ff3a54;
}

.theme-header-one{
    background-color: #1e1e1e !important;
}
.sticky-menu{
    background-color:#1e1e1e !important;
}
.popular-list-slider .slick-dots::after{
    background-color:transparent !important;
}
.popular-list-slider .slick-dots li{
    background-color:transparent !important;
}
.img-holder img{
    height:auto;
}
.sp-100 {
    padding-top: 100px;
    padding-bottom: 14px;
}
.sidebar-listing-slider.owl-theme .owl-dots .owl-dot {
    background-color: none !important;
    position: relative;
}
.widget{
    margin-bottom:10px;
}
.abt-listing p, .minus-pad, .contact-info li, .ctg-info li a{
    font-size:14px;
}
.contact-info li{
    margin-bottom:5px;
}
.minus-pad i{
    color:#ff3a54;
}
.banner-link{
    font-size:13px;
}
/* Image Slider Starts */
#carousel3d .carousel-3d-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}
#carousel3d .carousel-3d-slide.current {
  background-color: #f8f8f8;
  color: #fff;
}
#carousel3d img{
    height:100%;
}
.coverflow__container__1P-xE{
  background: transparent !important;
}
